@font-face {
    font-family: "Aerospace";
    src: url(aerospace.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Aerospace;
}

.heading {
    font-size: 4rem;
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Centering body content vertically */
    background: linear-gradient(90deg, #0fe2ea, #f118ea);
}

html {
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    justify-content: center;
    align-items: center;
}

.button-option {
    background: #ffffff;
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background: linear-gradient(90deg, #f118ea, #0fe2ea);
    color: #ffffff;
    border: none;
    margin: 1.5em auto 0 auto;
}

.popup {
    background: linear-gradient(90deg, #0fe2ea, #f118ea);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}

#new-game {
    font-size: 0.3em;
    padding: 0.5em 1em;
    background: linear-gradient(90deg, #f118ea, #0fe2ea);
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
}

#message {
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}

.popup.hide {
    display: none;
}
@media (max-width:481px) {
    .heading {
        font-size: 2.5rem;
        text-align: center;
        color: white;
        margin-top: 4em;
        margin-bottom: 1em;
    }
    #restart {
        font-size: 1em;
        padding: 1em;
        border-radius: 8px;
        background: linear-gradient(90deg, #f118ea, #0fe2ea);
        color: #ffffff;
        border: none;
        
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .container {
        width: 90vmin;
        height: 70vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        margin-bottom: 2em;
    }
    .button-option {
        background: #ffffff;
        height: 22vmin;
        width: 22vmin;
        border: none;
        border-radius: 8px;
        font-size: 12vmin;
        color: #d161ff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
}
